<p id="notice"><%= notice %></p>
<div data-controller="article-search">
  <div class="mx-auto md:w-3/4 w-full flex">

    <div class="mx-auto w-full">
      <h1 class="font-bold text-4xl">Articles</h1>
      <%= form_with(method: :get) do |form| %>
        <%= form.label :query, "Search by name:" %>
        <%= form.text_field :query, data: { action: "input->article-search#search" }, autocomplete: "off", value: params[:query], :with => current_user.id %>
        <%= form.text_field :user_id ,style: "display:none", value:current_user.id %>

      <% end %>
      <%= link_to 'New Article', new_article_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      <table class="min-w-full">
        <thead class="bg-white border-b">
          <tr>
            <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Name</th>
            <th colspan="3"  class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Actions</th>
          </tr>
        </thead>
        <%= render "articles", articles: @articles %>
      </table>

    </div>
    <div class="mx-auto w-full">

      Your Search Tags : 
      <table class="min-w-full">
        <thead class="bg-white border-b" >
          <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Name</th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Number of search</th>
          </tr>
        </thead>
        <tbody id="tags-list">
          <% @user_tags.each do |tag| %>
            <tr>
              <td style="padding: 1rem;"><%= tag[0] %></td>
              <td style="padding: 1rem;"><%= tag[1]  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"  %>
  <%= link_to "Analytics", analytics_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"  %>
